.convert-container {
  padding: 20px;
}

.settings select {
  margin: 10px;
  padding: 10px;
}

.file-preview {
  margin: 20px 0;
}

.file-details {
  font-size: 16px;
  margin-bottom: 10px;
}

.add-image-button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.actions .convert-button {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
